# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [48]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [49]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
dataset = pd.read_csv(url, sep='\t')

### Step 3. Assign it to a variable called chipo.

In [50]:
chipo = dataset

### Step 4. How many products cost more than $10.00?

In [51]:
format = lambda x: float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(format)
chipo['item_price'] = chipo['item_price'].astype(float)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [52]:
ten_cost = chipo[chipo['item_price'] > 10]
ten_cost['item_name'].unique()

array(['Chicken Bowl', 'Steak Burrito', 'Chicken Burrito',
       'Barbacoa Bowl', 'Veggie Burrito', 'Veggie Bowl',
       'Chicken Soft Tacos', 'Steak Bowl', 'Carnitas Burrito',
       'Carnitas Bowl', 'Barbacoa Burrito', 'Chicken Salad Bowl',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chicken Crispy Tacos', 'Chicken Salad', 'Steak Salad Bowl',
       'Bowl', 'Veggie Soft Tacos', 'Barbacoa Soft Tacos',
       'Carnitas Crispy Tacos', 'Carnitas Salad Bowl',
       'Barbacoa Salad Bowl', 'Chips and Fresh Tomato Salsa',
       'Steak Soft Tacos', 'Carnitas Soft Tacos', 'Steak Crispy Tacos',
       'Chips and Guacamole', '6 Pack Soft Drink', 'Bottled Water',
       'Side of Chips'], dtype=object)

In [53]:
ten_cost['item_name'].nunique()

31

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
price_data = chipo[['item_name','item_price']]
price_data.head()

                               item_name  item_price
0           Chips and Fresh Tomato Salsa        2.39
1                                   Izze        3.39
2                       Nantucket Nectar        3.39
3  Chips and Tomatillo-Green Chili Salsa        2.39
4                           Chicken Bowl       16.98

### Step 6. Sort by the name of the item

In [55]:
price_data = price_data.sort_values(['item_name'])
price_data.head()

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [56]:
most_expensive_item = price_data.sort_values(['item_price'], ascending=False).iloc[0]['item_name']
print(most_expensive_item)

Chips and Fresh Tomato Salsa

In [57]:
c = chipo.groupby(['item_name']).sum()
c.loc[most_expensive_item]['quantity']

130.0

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [58]:
veggie_salad_bowl = chipo[:]['item_name'][chipo['item_name']=='Veggie Salad Bowl']
veggie_salad_bowl.count()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [59]:
order_canned_soda_mask = chipo['item_name'] == 'Canned Soda'
order_canned_soda = chipo[order_canned_soda_mask]
order_canned_soda[order_canned_soda['quantity'] >=2 ].shape[0]

20