# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [19]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
df = pd.read_csv(url)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### Step 3. Assign it to a variable called df.

In [20]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [21]:
df = df.loc[:,'school':'guardian']
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that will capitalize strings.

In [22]:
def format(x):
  return x.str.capitalize()

In [ ]:
#lambda function是这样的
#capitalizer = lambda x: x.capitalize()
#df['Mjob'].apply(capitalizer)
#df['Fjob'].apply(capitalizer)

### Step 6. Capitalize both Mjob and Fjob

In [23]:
df[['Mjob', 'Fjob']] = df[['Mjob', 'Fjob']].apply(format)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 7. Print the last elements of the data set.

In [24]:
df.tail(1)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
394,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [25]:
df.head() #明显已经cap了

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [26]:
def majority(dataframe):
  dataframe['legal_drinker'] = dataframe['age'] > 17

In [27]:
majority(df)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,False

我做的时候很疑惑为啥不直接弄呢还要写个function，才发现它的function不是我那种级别的……

In [ ]:
# def majority(x):
#   if x > 17:
#     return True
#   else:
#     return False

In [ ]:
# df['legal_drinker'] = df['age'].apply(majority)
# 这才是这道题的原意思

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [28]:
df * 10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
1,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
2,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
3,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
4,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
5,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,30,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
6,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,20,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
7,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,40,40,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
8,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,30,20,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
9,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,40,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
10,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,HealthHealthHealthHealthHealthHealthHealthHeal...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
11,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,10,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,fatherfatherfatherfatherfatherfatherfatherfath...,0
12,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,40,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,0
13,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,30,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
14,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,AAAAAAAAAA,20,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,otherotherotherotherotherotherotherotherothero...,0
15,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,HealthHealthHealthHealthHealthHealthHealthHeal...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
16,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
17,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
18,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
19,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,30,HealthHealthHealthHealthHealthHealthHealthHeal...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
20,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,30,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
21,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,HealthHealthHealthHealthHealthHealthHealthHeal...,HealthHealthHealthHealthHealthHealthHealthHeal...,otherotherotherotherotherotherotherotherothero...,fatherfatherfatherfatherfatherfatherfatherfath...,0
22,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,20,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
23,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,20,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
24,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,150,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,40,ServicesServicesServicesServicesServicesServic...,HealthHealthHealthHealthHealthHealthHealthHeal...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
25,GPGPGPGPGPGPGPGPGPGP,FFFFFFFFFF,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
26,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
27,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,150,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,ServicesServicesServicesServicesServicesServic...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,0
28,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,30,40,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
29,GPGPGPGPGPGPGPGPGPGP,MMMMMMMMMM,160,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,30,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
366,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,ServicesServicesServicesServicesServicesServic...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,10
367,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,170,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,ServicesServicesServicesServicesServicesServic...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
368,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,30,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,10
369,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,otherotherotherotherotherotherotherotherothero...,fatherfatherfatherfatherfatherfatherfatherfath...,10
370,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,190,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,otherotherotherotherotherotherotherotherothero...,10
371,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,20,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,ServicesServicesServicesServicesServicesServic...,otherotherotherotherotherotherotherotherothero...,fatherfatherfatherfatherfatherfatherfatherfath...,10
372,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,0
373,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,170,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
374,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,40,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,10
375,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,10
376,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,200,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,HealthHealthHealthHealthHealthHealthHealthHeal...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
377,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
378,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,mothermothermothermothermothermothermothermoth...,10
379,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,170,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,30,10,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,0
380,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,10
381,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,10
382,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,170,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,30,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,ServicesServicesServicesServicesServicesServic...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,0
383,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,190,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,ServicesServicesServicesServicesServicesServic...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,10
384,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,20,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,homehomehomehomehomehomehomehomehomehome,fatherfatherfatherfatherfatherfatherfatherfath...,10
385,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,20,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,otherotherotherotherotherotherotherotherothero...,mothermothermothermothermothermothermothermoth...,10
386,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,40,40,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,reputationreputationreputationreputationreputa...,mothermothermothermothermothermothermothermoth...,10
387,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,190,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,20,30,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
388,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,10,TeacherTeacherTeacherTeacherTeacherTeacherTeac...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
389,MSMSMSMSMSMSMSMSMSMS,FFFFFFFFFF,180,UUUUUUUUUU,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
390,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,200,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,AAAAAAAAAA,20,20,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
391,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,170,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,10,ServicesServicesServicesServicesServicesServic...,ServicesServicesServicesServicesServicesServic...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,0
392,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,210,RRRRRRRRRR,GT3GT3GT3GT3GT3GT3GT3GT3GT3GT3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,otherotherotherotherotherotherotherotherothero...,10
393,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,180,RRRRRRRRRR,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,30,20,ServicesServicesServicesServicesServicesServic...,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,coursecoursecoursecoursecoursecoursecoursecour...,mothermothermothermothermothermothermothermoth...,10
394,MSMSMSMSMSMSMSMSMSMS,MMMMMMMMMM,190,UUUUUUUUUU,LE3LE3LE3LE3LE3LE3LE3LE3LE3LE3,TTTTTTTTTT,10,10,OtherOtherOtherOtherOtherOtherOtherOtherOtherO...,At_homeAt_homeAt_homeAt_homeAt_homeAt_homeAt_h...,coursecoursecoursecoursecoursecoursecoursecour...,fatherfatherfatherfatherfatherfatherfatherfath...,10

In [34]:
#做个筛选的 * 10
def multiply_ten(x):
  if type(x) is int:
    return x * 10
  else:
    return x

In [35]:
df.applymap(multiply_ten) #你就可以看到age被×了10

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,False
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother,False
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother,False
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother,False
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother,False
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother,False
10,GP,F,150,U,GT3,T,40,40,Teacher,Health,reputation,mother,False
11,GP,F,150,U,GT3,T,20,10,Services,Other,reputation,father,False
12,GP,M,150,U,LE3,T,40,40,Health,Services,course,father,False
13,GP,M,150,U,GT3,T,40,30,Teacher,Other,course,mother,False
14,GP,M,150,U,GT3,A,20,20,Other,Other,home,other,False
15,GP,F,160,U,GT3,T,40,40,Health,Other,home,mother,False
16,GP,F,160,U,GT3,T,40,40,Services,Services,reputation,mother,False
17,GP,F,160,U,GT3,T,30,30,Other,Other,reputation,mother,False
18,GP,M,170,U,GT3,T,30,20,Services,Services,course,mother,False
19,GP,M,160,U,LE3,T,40,30,Health,Other,home,father,False
20,GP,M,150,U,GT3,T,40,30,Teacher,Other,reputation,mother,False
21,GP,M,150,U,GT3,T,40,40,Health,Health,other,father,False
22,GP,M,160,U,LE3,T,40,20,Teacher,Other,course,mother,False
23,GP,M,160,U,LE3,T,20,20,Other,Other,reputation,mother,False
24,GP,F,150,R,GT3,T,20,40,Services,Health,course,mother,False
25,GP,F,160,U,GT3,T,20,20,Services,Services,home,mother,False
26,GP,M,150,U,GT3,T,20,20,Other,Other,home,mother,False
27,GP,M,150,U,GT3,T,40,20,Health,Services,other,mother,False
28,GP,M,160,U,LE3,A,30,40,Services,Other,home,mother,False
29,GP,M,160,U,GT3,T,40,40,Teacher,Teacher,home,mother,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,M,180,R,GT3,T,10,30,At_home,Other,course,mother,True
366,MS,M,180,U,LE3,T,40,40,Teacher,Services,other,mother,True
367,MS,F,170,R,GT3,T,10,10,Other,Services,reputation,mother,False
368,MS,F,180,U,GT3,T,20,30,At_home,Services,course,father,True
369,MS,F,180,R,GT3,T,40,40,Other,Teacher,other,father,True
370,MS,F,190,U,LE3,T,30,20,Services,Services,home,other,True
371,MS,M,180,R,LE3,T,10,20,At_home,Services,other,father,True
372,MS,F,170,U,GT3,T,20,20,Other,At_home,home,mother,False
373,MS,F,170,R,GT3,T,10,20,Other,Other,course,mother,False
374,MS,F,180,R,LE3,T,40,40,Other,Other,reputation,mother,True
375,MS,F,180,R,GT3,T,10,10,Other,Other,home,mother,True
376,MS,F,200,U,GT3,T,40,20,Health,Other,course,other,True
377,MS,F,180,R,LE3,T,40,40,Teacher,Services,course,mother,True
378,MS,F,180,U,GT3,T,30,30,Other,Other,home,mother,True
379,MS,F,170,R,GT3,T,30,10,At_home,Other,reputation,mother,False
380,MS,M,180,U,GT3,T,40,40,Teacher,Teacher,home,father,True
381,MS,M,180,R,GT3,T,20,10,Other,Other,other,mother,True
382,MS,M,170,U,GT3,T,20,30,Other,Services,home,father,False
383,MS,M,190,R,GT3,T,10,10,Other,Services,other,mother,True
384,MS,M,180,R,GT3,T,40,20,Other,Other,home,father,True
385,MS,F,180,R,GT3,T,20,20,At_home,Other,other,mother,True
386,MS,F,180,R,GT3,T,40,40,Teacher,At_home,reputation,mother,True
387,MS,F,190,R,GT3,T,20,30,Services,Other,course,mother,True
388,MS,F,180,U,LE3,T,30,10,Teacher,Services,course,mother,True
389,MS,F,180,U,GT3,T,10,10,Other,Other,course,mother,True
390,MS,M,200,U,LE3,A,20,20,Services,Services,course,other,True
391,MS,M,170,U,LE3,T,30,10,Services,Services,course,mother,False
392,MS,M,210,R,GT3,T,10,10,Other,Other,course,other,True
393,MS,M,180,R,LE3,T,30,20,Services,Other,course,mother,True
394,MS,M,190,U,LE3,T,10,10,Other,At_home,course,father,True