<a href="https://colab.research.google.com/github/XingxinHE/Pandas_Exercise/blob/master/08_Creating_Series_and_DataFrames_Pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [18]:
data_dict = {
    'evolution' : ['Ivysaur', 'Charmeleon', 'Wartortle', 'Metapod'],
    'hp' : [45, 39, 44, 45],
    'name' : ['Bulbasaur', 'Charmander', 'Squirtle', 'Caterpie'],
    'pokedex' : ['yes', 'no', 'yes', 'no'],
    'type' : ['grass', 'fire', 'water', 'bug']
}

### Step 3. Assign it to a variable called pokemon

In [19]:
pokemon = pd.DataFrame(data_dict)
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [20]:
#这是手动更改column的顺序的方法
cols = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon[cols]

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [21]:
pokemon['place'] = ['Milano', "Firenze", 'Roma', "Torino"]
pokemon

    evolution  hp        name pokedex   type    place
0     Ivysaur  45   Bulbasaur     yes  grass   Milano
1  Charmeleon  39  Charmander      no   fire  Firenze
2   Wartortle  44    Squirtle     yes  water     Roma
3     Metapod  45    Caterpie      no    bug   Torino

### Step 6. Present the type of each column

In [28]:
for column in pokemon.columns:
  print('Column '+column + ' is data type of ' + str(pokemon[column].dtype))

Column evolution is data type of object
Column hp is data type of int64
Column name is data type of object
Column pokedex is data type of object
Column type is data type of object
Column place is data type of object